.navbar {
  grid-area: top-bar;
  /* box-shadow: 0px 0px 3px black; */
}

hr.navbar-divider {
  margin: 0.4rem 0;
}

.navbar-item.signin {
  /* margin-right: 10px; */
}

.navbar-item.signin,
.navbar-item.signup {
  font-weight: 500;
}

.navbar-item.signup {
  /* background: rgba(255, 255, 255, 1); */
  /* color: black; */
}

.navbar-burger {
  color: white;
  min-width: 44px;
}

.navbar-burger:hover {
  color: rgba(255, 255, 255, 0.8);
}

div.navbar-item {
  padding: 0.5rem;
}

a.navbar-link.org-name:hover {
  background: inherit;
}

.navbar-brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper--links {
  display: flex;
}

.wrapper--links a {
  color: white;
}
