.product-info--wrapper {
  padding: 0 50px 50px 50px;
  display: flex;
  flex-direction: column;
  grid-gap: 5%;
}

.product-info--wrapper ul {
  margin-bottom: 50px;
}

.product-info--wrapper ul li {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.product-info--wrapper ul li svg {
  margin-top: 6px;
}

@media (min-width: 760px) {
  .product-info--wrapper {
    display: flex;
  }
}

@media (min-width: 1100px) {
  .product-info--wrapper {
    justify-items: center;
  }

  .product-info--wrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-info--wrapper ul li:nth-child(even) {
    margin-left: 20px;
  }
}
